@mixin transition($d) {
    transition:all $d;
    -moz-transition:all $d;
    -o-transition:all $d;
    -webkit-transition:all $d;
}

@mixin animation($d) {
    animation:jump $d ease infinite;
    -moz-animation:jump $d ease infinite;
    -o-animation:jump $d ease infinite;
    -webkit-animation:jump $d ease infinite;
}

@keyframes jump {
    0% {transform: translate(0, 0);}
    25% {transform: translate(0, -0.167rem);}
    50% {transform: translate(0, 0);}
    75% {transform: translate(0, 0.167rem);}
    100% {transform: translate(0, 0);}
}