body {
    min-height: 100vh;
    background: linear-gradient($bg-gradientOne, $bg-gradientTwo) no-repeat;
    font-size: $fontSize;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: $fontWeightPrimary;
    line-height: 2rem;
    color: $textPrimary;
}