.faq-container {
    width: 62.5%;
    margin: 10% auto;
    background: url("../images/bg-pattern-desktop.svg") -36vh -36vh white no-repeat;
    background-size: cover;
    border-radius: 1.25rem;
    padding: 3rem 6rem;
    overflow: hidden;

    &__container {
        width: 50%;
        float: right;

        &__title {
            margin: 2rem 0;
        }
    }
}

.card {
    padding: 1rem 0;

    &__faq-answer {
        color: $textSecundary;
        display: none;
    }
}

.attribution {
    text-align: center;
}