/*

                        TEXT

*/

$fontSize: 12px;
$fontWeightPrimary: 400;
$fontWeightSecundary: 700;
$textActive: hsl(238, 29%, 16%);
$textHover: hsl(14, 88%, 65%);
$textPrimary: hsl(237, 12%, 33%);
$textSecundary: hsl(240, 6%, 50%);

/*

                        GRADIENT

*/

$bg-gradientOne: hsl(273, 75%, 66%);
$bg-gradientTwo: hsl(240, 73%, 65%);

/*

                        OTHERS

*/

$dividers-bottom: hsl(240, 5%, 91%);